<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="hbs/receipt.css">
</head>

<body>
  <div class="receipt-container">
    {{> opcoHeader header}}  <!-- OpCo specific header, pass the header sub-object to the partial -->
    <div class="payment-header">
      <div class="ph-column ph-column-left">
        <div class="ph-item ph-office">Office: {{header.office}}</div>
        <div class="ph-item ph-tender">Tender Ctrl: {{header.tenderCtrl}}</div>
        <div class="ph-item ph-date">Date: {{header.date}} {{header.time}}</div>
      </div>
      <div class="ph-column ph-column-right">
        <div class="ph-item ph-deposit">Dep Ctrl: {{header.depositCtrl}}</div>
      </div>
    </div>
    <div class="bold-separator"></div>
    <div class="office-details">
      <div class="office-location">{{header.location.name}}</div>
      <div class="office-phone">{{header.location.phone}}</div>
    </div>

{{#each receipts}}
    <div class="receipt-block">
      <div class="receipt-number-row">
        <span>Payment Event Id {{this.pmtEvtId}}</span>
        <span class="receipt-number-suffix">{{this.unknown1}}</span>
      </div>
      <div class="account">
        <span class="account-number">Account# {{this.account.number}}</span>
        <div class="account-holder">
          <span class="account-name">{{this.account.name}}</span>
          {{#if this.account.address}}
          <span class="account-address">{{this.account.address}}</span>
          {{/if}}
        </div>
      </div>
  {{#each this.receiptLines}}
    <div class="receipt-lineitem">
      <span>{{unknown2}} SA ID: {{this.saId}}</span>
      <span class="dollar-amt">{{this.amt}}</span>
      <div class="sa-desc">{{this.desc}}</div>
    </div>
  {{/each}}
  <div class="reciept-totals">
    <span class="amount-label" style="font-weight:bold;">Receipt Amount</span>
    <span class="amount-value">$800.17</span>
  </div>
{{/each}}
<!-- Partial will output the header with the provided message and note -->
    {{> receiptFooter message="Thank you for your business!" note=""}}
  </div>
</body>
</html>